.card {
  list-style-type: none;
}

.card__image {
  height: 413px;
  width: 413px;
  border-radius: 8px;
  object-fit: cover;
  margin: 0;
}

.card__content {
  display: flex;
  justify-content: space-between;
  color: #212121;
  margin-top: 12px;
}

.card__title {
  margin: 0;
  max-width: 330px;
  font-family: "Poppins", Arial, sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.card__like-button {
  background-image: url(../images/heart-default.svg);
  background-image: no-repeat;
  background-position: center;
  width: 23px;
  height: 20px;
  padding: 0;
  border: none;
  background-color: #fcf5e5;
}

.card__like-button:hover {
  background-image: url(../images/heart-hover.svg);
}

@media screen and (max-width: 627px) {
  .card {
    max-width: 288px;
  }

  .card__image {
    height: 288px;
    width: 288px;
    padding-top: 20px;
  }

  .card__title {
    font-size: 16px;
    line-height: 1;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 230px;
  }

  .card__like-button {
    background-image: url(../images/heart-default.svg);
    width: 20px;
    height: 18px;
    background-size: contain;
    background-repeat: no-repeat;
  }
}
